body {
    margin: 0%;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}

.selected-lang:before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    background-image: url("https://flagsapi.com/GB/flat/48.png");
}

nav {
    justify-content: space-between;
    display: flex;
    line-height: 2.5;
    background-color: black;
    color: white;
    font-size: 23px;
    font-family: "Permanent Marker", cursive;
}

.pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}

.navButton {
    color: whitesmoke;
    text-decoration: none;
}

.navButton:hover {
    color: red;
}

.lang-meun ul {
    border: 1px solid silver;
    background-color: black;
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    display: none;
    position: absolute;
}

.lang-meun ul li {
    list-style: none;
    box-shadow: 0px 1px 10px white;

    justify-content: space-between;
}

.lang-meun ul li a {
    display: block;
    padding-left: 10px;
}

.lang-meun ul li a:hover {
    background-color: gray;
}

.lang-meun ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

.de:before {
    background-image: url("https://flagsapi.com/DE/flat/32.png");
}

.pt:before {
    background-image: url("https://flagsapi.com/PT/flat/32.png");
}

.zh:before {
    background-image: url("https://flagsapi.com/CN/flat/32.png");
}

.es:before {
    background-image: url("https://flagsapi.com/ES/flat/32.png");
}

.en:before {
    background-image: url("https://flagsapi.com/GB/flat/32.png");
}

a {
    text-decoration: none;
    color: white;
}

.lang-meun:hover ul {
    display: block;
}

.lang {
    margin: 0px;
}

h1 {
    margin: 0%;
}

.heroImage {
    background-image: url(../assets/heroImage.png);
}

.heroText {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 125px
}

.name {
    color: red;
    font-family: "Nothing You Could Do", cursive;
    font-size: 150px;
    transform: rotate(-6deg);
}

.title {
    padding-top: 150px;
    padding-bottom: 170px;
    text-align: center;
}